{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
    <div class="container">
        <h2>Users</h2>

        <div class="list-group">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>amount</th>
                    <th>days</th>
                    <th>Is accepted?</th>
                </tr>
                </thead>
                 <tbody>
                {% for application in application_list %}
                    <tr>
                        <td class="id">{{ application.id }}</td>
                        <td class="amount">{{ application.amount }}</td>
                        <td class="days">{{ application.days }}</td>
                        <td class="is_accepted">{{ application.is_accepted }}</td>
                    </tr>
                {% endfor %}
                 </tbody>
            </table>
        </div>
    </div>
{% endblock content %}